:root {

    --color-one: hsl(47, 6%, 29%);
    --color-two: #5FAD41;
    --color-three: #2D936C;
    --color-four: #e3ae28;
    --color-five: #dbdbdb;


    font-family: Arial, Helvetica, sans-serif;

}

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}


header {
    padding: 16px 32px;


    display: flex;
    gap: 16px;
    align-items: center;
    background-color: var(--color-three);
    box-shadow: 0 2px 3px 0px rgb(175, 175, 175);
    z-index: 1;
}

header div {
    font-size: 1.4rem;
    font-weight: 700;
}

nav {
    margin-left: auto;
    display: flex;
    gap: 16px;
}

nav button {
    border-radius: 8px;
    padding: 8px 32px;

    border: 2px solid var(--color-five);
    background-color: var(--color-two);
    color: white;
    font-size: 1.1rem;
}

[selected="true"], nav button:hover {
    background-color: rgb(71, 107, 72);
}

div#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    min-width: 500px;

    background-color: var(--color-five);
    color: var(--color-four);
    font-size: 1.7rem;
    font-weight: 700;
    padding: 32px;
    margin: 16px 128px;
    border-radius: 16px;
    border: 2px solid black;
}

.title {
    background-color: var(--color-three);
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
    padding: 8px 16px;
    box-shadow: 0 2px 3px 0 rgb(169, 169, 169);
}

.quote {
    background-color: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 16px 64px;
    border-radius: 8px;
    border: 2px solid black;
}

.quotee {
    margin-left: auto;
}

.hours-text {
    text-align: center;
}

.menu-item {
    display: flex;

    flex-direction: column;
    align-items: center;
    gap: 16px;
}